<h2>L'équipe</h2>

<ul>
  {{ range . }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Params.name }}</a>
      {{ with .Resources.Match "*.jpg" }}
        {{ $image := index . 0 }}
        <img src="{{ $image.RelPermalink }}" alt="{{ $image.Title | default $image.Name }}">
      {{ end }}
      {{ with .Resources.Match "*.png" }}
        {{ $image := index . 0 }}
        <img src="{{ $image.RelPermalink }}" alt="{{ $image.Title | default $image.Name }}">
      {{ end }}
      <p>{{ .Params.description }}</p>
    </li>
  {{ end }}
</ul>
